body{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(65,9,121,1) 42%, rgba(0,212,255,1) 100%);
}

.login-container, .create-container{
    margin-top: 200px;
    max-width: 300px;
    text-align: center;
}
.post-card{
    max-width: 30rem;
    margin-top: 20px;
    border-style: ridge;
    border-radius: 2rem;
    text-align: justify;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}
.post-card-title {
    text-align: center;
}
.card-img{
    margin-top: 20px;
    margin-bottom: 20px;
    height: 300px;
    width: 300px;
    border-style: inset;
}
.danger-alert{
    color: red;
    text-align: center;
}

.test{
   border-color: red;
}
.navbar-brand{
    margin-left: 100px;
}

.post-area{
    max-width: 500px;
}

.text-area-title{
    margin-top: 20px;
    margin-bottom: 20px;
    max-height: 200px;
}

.text-area-description{
    max-height: 200px;
}

.user-likes{
    display: flex;
    flex-direction: row;
}
.user-likes > h5 {
    margin-left: 10px;
    margin-right: 10px;
}

.owner-email{
    cursor: pointer;
}

.heart-icon{
    width: 20px;
    height: 20px;
    margin-top: 4px;
    cursor: pointer;
}

.preview-div{
    margin-left: 80px;
}

.card-img-edit{
    margin-top: 20px;
    margin-bottom: 20px;
    height: 300px;
    width: 300px;
    border-style: inset;
    cursor: pointer;
}

.card-img-edit-hover{
    height: 100px;
    width: 100px;
}

.imageBox {
    position: relative;
    float: left;
    cursor: pointer;
}

.imageBox .hover-img {
    position: absolute;
    left: 100px;
    top: 120px;
    display: none;
}

.imageBox:hover .hover-img {
    display: flex;
    justify-content: center;
}

.account{
    border: 1px solid black;
    max-width: 1500px;
    }


.account-info{
    border: 1px solid red;
    max-height: 50vh;
    color: white;
    position: relative;
}

.account-info-email{
    position:absolute;
    width:100%;
    bottom:0;
    left: 0;
    text-align:center;
}


.profile-img{
    width: 200px;
    height: 200px;
    margin-left: 30px;
    margin-top: 40px;
}

