body{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(65,9,121,1) 42%, rgba(0,212,255,1) 100%);
}

.login-container, .create-container{
    margin-top: 200px;
    max-width: 300px;
    text-align: center;
}

.post-card-title {
    text-align: center;
}
.card-img{
    margin-top: 20px;
    margin-bottom: 20px;
    height: 300px;
    width: 300px;
    border-style: inset;
}
.danger-alert{
    color: red;
    text-align: center;
}

.navbar-brand{
    margin-left: 100px;
}

.post-area{
    max-width: 500px;
}

.text-area-title{
    margin-top: 20px;
    margin-bottom: 20px;
    max-height: 200px;
}

.text-area-description{
    max-height: 200px;
}

.user-likes{
    display: flex;
    flex-direction: row;
}
.user-likes > h5 {
    margin-left: 10px;
    margin-right: 10px;
}

.owner-email{
    cursor: pointer;
}

.heart-icon{
    width: 20px;
    height: 20px;
    margin-top: 4px;
    cursor: pointer;
}

.preview-div{
    margin-left: 80px;
}


/* Post styling */

.post-card{
    max-width: 40vh;
    margin-top: 20px;
    border-style: ridge;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}


/* Account styling */

.account{
    border: 1px solid black;
}

.owner-info-col{
    border: 1px solid red;
    word-wrap: break-word;
    max-height: 50vh;
}

.owner-info{
    height: 100%;
    text-align: center;
}

.account-info-email{
    color: white;
    font-size: 22px;
}

.profile-img{
    max-width: 300px;
    max-height: 300px;
}


/* Hover to change profile image */

.imageBox {
    position: relative;
}

.card-img-edit-hover{
    height: 100px;
    width: 100px;
}

.hover-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.imageBox:hover .hover-img {
    border: 1px solid red;
    display: flex;
}


/* Edit mode profile img */

.card-img-edit{
    margin-top: 20px;
    margin-bottom: 20px;
    height: 300px;
    width: 300px;
    cursor: pointer;
}


/* Not found styling */

.notfound{
    text-align: center;
    color: red;
}

/* Styling for serial communication page */

.serialBox{
    color: white;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}